/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.nav-tabs > li > a:hover {
    color: white;
    border-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}


 .well{
     color: black;
 }
.contact-head3{
    color: black;
}

a{
    color: floralwhite;
    text-decoration: inherit;
    padding: 10px;
}
 
 h3{
    font-size: 30px;
    font-family: 'Open Sans';
    color: antiquewhite;
    padding: 16px;
    padding-bottom: 50px;
 }
 
 h1{
    font-size: 50px;
    font-family: 'Open Sans';
    color: white;
    padding-top: 36px;
    padding-bottom: 0px;
 }
 
 .about-us-color{
    color: slategray;
 }
 
 .header{
    margin: 0px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
 
.outer-navbar-sides{
    padding: 25px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0px;
}


.heading_{
    color: slategray;
}

.container{
    margin: 0px;
}

  


.home-callout{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


a:hover {
    color: white;
    opacity: 0.45;
}